.book-container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-x: hidden;
  background: url("../Images/Patterns.png") no-repeat center center;
  background-size: cover;
}

.flipbook{
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.book-page{
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: white;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 16px 0 32px -8px rgba(0,0,0,0.25);  
  border: solid 1px gray;
}

.page-content{
  flex: 1;
  overflow-y: auto;
  z-index: 1;
}

.book-page,
.page-content{
  user-select: none;       
  -webkit-user-select: none;
  -ms-user-select: none;
  overflow-y: auto;
  scrollbar-width: none; 
}

.book-page::-webkit-scrollbar,
.page-content::-webkit-scrollbar{
  display: none;                
}

.page-content img,
.page-content .non-interactive{
  pointer-events: none; 
}

.navbar-toggle{
  position: absolute;
  top: -0.5rem;
  right: 30px;
  z-index: 1000;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

@keyframes stretchSnap{
  0%{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.8); 
  }
  100%{
    transform: scaleY(1);
  }
}

.navbar-toggle img{
  height: 60px;
  transition: transform 0.3s ease-in-out;
  transform-origin: top center; 
}

.navbar-toggle img.animate{
  animation: stretchSnap 1s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 2240px) and (max-width: 3648px){

}

@media (min-width: 1950px) and (max-width: 2240px){

}

@media (min-width: 1200px) and (max-width: 1400px){

}

@media (min-width: 1050px) and (max-width: 1200px){

}

@media (min-width: 970px) and (max-width: 1050px){

}

@media (min-width: 900px) and (max-width: 970px){

}

@media (min-width: 600px) and (max-width: 900px){

}

@media (min-width: 550px) and (max-width: 600px){

}

@media (min-width: 500px) and (max-width: 600px){

}

@media (min-width: 450px) and (max-width: 550px){

}

@media (min-width: 400px) and (max-width: 450px){

}

@media (min-width: 300px) and (max-width: 400px){

}

@media (max-width: 300px){

}