.page{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}

.page-image{
  width: 50%;
  height: auto;
  margin: auto;
  padding: 2rem;
}

.page-text{
  padding: 0 2rem;
  font-size: 1.35rem;
  text-align: center;
  font-weight: 500;
  font-family: "Primer";
}

.page-heading{
  font-size: 1.5rem;
  font-family: "Rolly";
  text-align: center;
  margin: 0;
}

.page-list{
  list-style-type: none;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.25rem;
  font-family: "Primer";
}

.page-list li{
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.page-number-odd,
.page-number-even{
  font-size: 1rem;
  font-family: "Rolly";
  cursor: grab;
}

.page-number1{
  text-align: left;
  margin-top: 9rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.page-number-odd{
  text-align: left;
  margin-top: 18rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.page-number-even{
  text-align: right;
  margin-top: 18rem;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.title{
    text-align: center;
    font-size: 3rem;
    font-family: "Rolly";
    color: rgb(42, 42, 42);
}

.subtitle{
    text-align: center;
    font-size: 1.5rem;
    font-family: "Rolly";
    color: rgb(42, 42, 42)
}

.drop-cap-container{
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: justify;
  align-items: center;
  gap: 0.5rem;
  font-family: "Primer";
}

.drop-cap{
  font-size: 6rem;
  font-weight: bold;
}

.drop-cap-text{
  font-size: 3rem;
  color: rgb(42, 42, 42);
}

@media (min-width: 2240px) and (max-width: 3648px){

}

@media (min-width: 1950px) and (max-width: 2240px){

}

@media (min-width: 1200px) and (max-width: 1400px){

}

@media (min-width: 1050px) and (max-width: 1200px){

}

@media (min-width: 970px) and (max-width: 1050px){

}

@media (min-width: 900px) and (max-width: 970px){

}

@media (min-width: 600px) and (max-width: 900px){

}

@media (min-width: 550px) and (max-width: 600px){

}

@media (min-width: 500px) and (max-width: 600px){

}

@media (min-width: 450px) and (max-width: 550px){

}

@media (min-width: 400px) and (max-width: 450px){

}

@media (min-width: 300px) and (max-width: 400px){

}

@media (max-width: 300px){

}