.highlight{
  background: linear-gradient(90deg, #febc16 0%, #febc16 100%);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  transition: background-size 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  animation: highlight-fade-in 4s forwards;
}

@keyframes highlight-fade-in{
  from{
    background-size: 0% 100%;
  }
  to{
    background-size: 100% 100%;
  }
}

.carousel-arrow{
  background-color: transparent;
  font-family: "Rolly";
  color: white;
  font-weight: 600;
  border: none;
}

.carousel-arrow:disabled{
  display: none;
}

.author-image{
  width: 35%;
  height: auto;
  margin: auto;
}

.cover-image, .back-cover-image{
  display: block;
  width: 100% !important;
  height: 100% !important;
}

.cover-image2, .back-cover-image2{
  display: none;
  width: 100% !important;
  height: 100% !important;
}

a{
  color: #125c59;
}

.page-credits{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: transparent;
}

.cover-image, .back-cover-image{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.page, .page-even, .page-odd{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
}

.page-text{
  padding-top: 1.45rem;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 500;
  font-family: "Primer";
}

.page-chapter{
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: -0.5rem;
  font-size: 1.4rem;
  text-align: justify;
  font-weight: 500;
  font-family: "Primer";
}

.page-heading{
  font-size: 1.75rem;
  padding-top: 1rem;
  font-family: "Rolly";
  text-align: center;
  margin: 0;
}

.page-list{
  list-style-type: none;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Primer";
}

.page-list li{
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.end{
  font-size: 2.5rem;
  text-align: center;
}

.page-image-1, .page-image-1-1, 
.page-image-big-desktop-1, 
.page-image-big-mobile-1{
  padding-top: 1rem;
}

.page-image-4, .page-image-4-4, 
.page-image-big-mobile-4{
  padding-top: 1rem;
}

.page-image-6, .page-image-6-6, 
.page-image-small-desktop-6,
.page-image-small-mobile-6{
  padding-top: 1rem;
}

.page-image-7, .page-image-7-7{
  padding-top: 1rem;
}

.page-image-10, .page-image-10-10,
.page-image-small-desktop-10,
.page-image-small-mobile-10{
  padding-top: 1rem;
}

.page-image-12, .page-image-12-12,
.page-image-small-mobile-12{
  padding-top: 1rem;
}

.page-image-14, .page-image-14-14{
  padding-top: 1rem;
}

.page-image-15, .page-image-15-15,
.page-image-small-desktop-15,
.page-image-small-mobile-15{
  padding-top: 1rem;
}

.page-image-18, .page-image-18-18,
.page-image-small-mobile-18{
  padding-top: 1rem;
}

.page-image-20, .page-image-20-20,
.page-image-small-desktop-20,
.page-image-small-mobile-20{
  padding-top: 1rem;
}

.page-image-21, .page-image-21-21,
.page-image-small-desktop-21{
  padding-top: 1rem;
}

.page-image-24, .page-image-24-24{
  padding-top: 1rem;
}

.page-image-25, .page-image-25-25,
.page-image-small-desktop-25{
  padding-top: 1rem;
}

.page-image-27, .page-image-27-27,
.page-image-big-desktop-27{
  padding-top: 1rem;
}

.page-image-29, .page-image-29-29{
  padding-top: 1rem;
}

.page-image-32, .page-image-32-32{
  padding-top: 1rem;
}

.page-image-34, .page-image-34-34,
.page-image-small-desktop-34,
.page-image-small-mobile-34{
  padding-top: 1rem;
}

.page-image-35, .page-image-35-35,
.page-image-small-mobile-35{
  padding-top: 1rem;
}

.page-image-big-desktop-1, .page-image-big-mobile-1,
.page-image-big-desktop-2, .page-image-big-mobile-2,
.page-image-big-mobile-4, .page-image-big-desktop-11, 
.page-image-big-mobile-11, .page-image-big-desktop-13, 
.page-image-big-mobile-13, .page-image-big-desktop-27{
  width: 75%;
  height: auto;
  margin: auto;
}

.page-image-small-desktop-3, .page-image-small-mobile-3,
.page-image-small-desktop-5, .page-image-small-mobile-5,
.page-image-small-mobile-8, .page-image-small-desktop-10, 
.page-image-small-mobile-10, .page-image-small-mobile-12, 
.page-image-small-desktop-15, .page-image-small-mobile-15,
.page-image-small-desktop-16, .page-image-small-mobile-16,
.page-image-small-mobile-17, .page-image-small-mobile-18,
.page-image-small-mobile-21, .page-image-small-desktop-25, 
.page-image-small-mobile-26, .page-image-small-desktop-28, 
.page-image-small-mobile-28, .page-image-small-desktop-30, 
.page-image-small-mobile-30, .page-image-small-desktop-31, 
.page-image-small-mobile-31, .page-image-small-desktop-33, 
.page-image-small-mobile-33, .page-image-small-mobile-35,
.page-image-small-desktop-36, .page-image-small-mobile-36{
  width: 65%;
  height: auto;
  margin: auto;
}

.page-image-small-desktop-6, .page-image-small-mobile-6{
  width: 58%;
  height: auto;
  margin: auto;
}

.page-image-small-desktop-20, .page-image-small-mobile-20{
  width: 60%;
  height: auto;
  margin: auto;
}

.page-image-small-desktop-34, .page-image-small-mobile-34{
  width: 66%;
  height: auto;
  margin: auto;
}

.page-image-big-mobile-1, .page-image-big-mobile-2,
.page-image-small-mobile-3, .page-image-big-mobile-4,
.page-image-small-mobile-5, .page-image-small-mobile-6,
.page-image-small-mobile-8, .page-image-small-mobile-10,
.page-image-big-mobile-11, .page-image-small-mobile-12,
.page-image-big-mobile-13, .page-image-small-mobile-15,
.page-image-small-mobile-16, .page-image-small-mobile-17,
.page-image-small-mobile-18, .page-image-small-mobile-20,
.page-image-small-mobile-21, .page-image-small-mobile-26,
.page-image-small-mobile-28, .page-image-small-mobile-30,
.page-image-small-mobile-31, .page-image-small-mobile-33,
.page-image-small-mobile-34, .page-image-small-mobile-35,
.page-image-small-mobile-36{
  display: none;
}

.page-image-1-1,  .page-image-2-2, .page-image-3-3, 
.page-image-4-4,  .page-image-5-5, .page-image-6-6, 
.page-image-7-7, .page-image-8-8, .page-image-9-9, 
.page-image-10-10, .page-image-11-11, .page-image-12-12, 
.page-image-13-13, .page-image-14-14, .page-image-15-15, 
.page-image-16-16, .page-image-17-17, .page-image-18-18,
.page-image-19-19, .page-image-20-20, .page-image-21-21, 
.page-image-22-22, .page-image-23-23, .page-image-24-24,
.page-image-25-25, .page-image-26-26, .page-image-27-27, 
.page-image-28-28, .page-image-29-29, .page-image-30-30,
.page-image-31-31, .page-image-32-32, .page-image-33-33, 
.page-image-34-34, .page-image-35-35, .page-image-36-36{
  display: none;
  width: 70%;
  height: auto;
  margin: auto;
}

.page-image-1, .page-image-2, .page-image-3, 
.page-image-4, .page-image-5, .page-image-6,
.page-image-7, .page-image-8, .page-image-9, 
.page-image-10, .page-image-11, .page-image-12,
.page-image-13, .page-image-14, .page-image-15, 
.page-image-16, .page-image-17, .page-image-18,
.page-image-19, .page-image-20, .page-image-21, 
.page-image-22, .page-image-23, .page-image-24,
.page-image-25, .page-image-26, .page-image-27, 
.page-image-28, .page-image-29, .page-image-30,
.page-image-31, .page-image-32, .page-image-33, 
.page-image-34, .page-image-35, .page-image-36{
  width: 70%;
  height: auto;
  margin: auto;
}

.page-image-2, .page-image-2-2, .page-image-big-desktop-2, .page-image-big-mobile-2, 
.page-image-3, .page-image-3-3, .page-image-small-desktop-3, .page-image-small-mobile-3,  
.page-image-5, .page-image-5-5, .page-image-small-desktop-5, .page-image-small-mobile-5,   
.page-image-8, .page-image-8-8, .page-image-small-mobile-8, .page-image-9, .page-image-9-9, 
.page-image-11, .page-image-11-11, .page-image-big-desktop-11, .page-image-big-mobile-11, 
.page-image-13, .page-image-13-13, .page-image-big-desktop-13, .page-image-big-mobile-13, 
.page-image-16, .page-image-16-16, .page-image-small-desktop-16, .page-image-small-mobile-16,  
.page-image-17, .page-image-17-17, .page-image-small-mobile-17, .page-image-19, .page-image-19-19,
.page-image-22, .page-image-22-22, .page-image-23, .page-image-23-23, .page-image-26, 
.page-image-26-26, .page-image-small-mobile-26, .page-image-28, .page-image-28-28, 
.page-image-small-desktop-28, .page-image-small-mobile-28, .page-image-30, .page-image-30-30, 
.page-image-small-desktop-30, .page-image-small-mobile-30, .page-image-31, .page-image-31-31,
.page-image-small-desktop-31, .page-image-small-mobile-31, .page-image-33, .page-image-33-33, 
.page-image-small-desktop-33, .page-image-small-mobile-33, .page-image-36, .page-image-36-36,
.page-image-small-desktop-36, .page-image-small-mobile-36{
  margin-top: 3.5rem;
}

.page-1, .page-3, .page-5, .page-7, .page-9, .page-11,
.page-13, .page-15, .page-17, .page-19, .page-21, .page-23,
.page-25, .page-27, .page-29, .page-31, .page-33, .page-35{
  text-align: left;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.page-2, .page-4, .page-6, .page-8, .page-10, .page-12,
.page-14, .page-16, .page-18, .page-20, .page-22, .page-24,
.page-26, .page-28, .page-30, .page-32, .page-34, .page-36{
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.title{
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 3rem;
    font-family: "Rolly";
}

.credit{
  padding-left: 3rem;
  padding-right: 3rem;
}

.drop-cap-container{
  margin-top: 2rem;
  margin-left: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: justify;
  align-items: center;
  gap: 0.5rem;
  font-family: "Primer";
}

.drop-cap{
  font-size: 5rem;
  font-family: "GlorytyaDemo";
  color: #125c59;
}

.drop-cap-text{
  font-size: 2.25rem;
  color: rgb(42, 42, 42);
  font-family: "Rolly";
}

@media (min-width: 2240px) and (max-width: 3010px){
.page-image-1, .page-image-2, .page-image-3, 
.page-image-4, .page-image-5, .page-image-6,
.page-image-7, .page-image-8, .page-image-9, 
.page-image-10, .page-image-11, .page-image-12,
.page-image-13, .page-image-14, .page-image-15, 
.page-image-16, .page-image-17, .page-image-18,
.page-image-19, .page-image-20, .page-image-21, 
.page-image-22, .page-image-23, .page-image-24,
.page-image-25, .page-image-26, .page-image-27, 
.page-image-28, .page-image-29, .page-image-30,
.page-image-31, .page-image-32, .page-image-33, 
.page-image-34, .page-image-35, .page-image-36{
  width: 75%;
}

.page-image-big-desktop-1, .page-image-big-desktop-2, 
.page-image-big-desktop-11, .page-image-big-desktop-13, 
.page-image-big-desktop-27{
  width: 83%;
  height: auto;
  margin: auto;
}

.page-image-small-desktop-3, .page-image-small-desktop-5, 
.page-image-small-desktop-6, .page-image-small-desktop-10, 
.page-image-small-desktop-15, .page-image-small-desktop-16, 
.page-image-small-desktop-20, .page-image-small-desktop-25, 
.page-image-small-desktop-28, .page-image-small-desktop-30, 
.page-image-small-desktop-31, .page-image-small-desktop-33, 
.page-image-small-desktop-34, .page-image-small-mobile-35,
.page-image-small-desktop-36{
  width: 70%;
  height: auto;
  margin: auto;
}

.page-image-2, .page-image-3, .page-image-5,
.page-image-8, .page-image-9, .page-image-11,
.page-image-13, .page-image-16, .page-image-17,
.page-image-19, .page-image-22, .page-image-23,
.page-image-26, .page-image-28, .page-image-30,
.page-image-31, .page-image-33, .page-image-36,
.page-image-big-desktop-2, .page-image-small-desktop-3, 
.page-image-small-desktop-5, .page-image-big-desktop-11,
.page-image-big-desktop-13, .page-image-big-desktop-16, 
.page-image-small-desktop-28, .page-image-small-desktop-30,
.page-image-small-desktop-31, .page-image-small-desktop-33, 
.page-image-small-desktop-36{
  margin-top: 3.5rem;
}

.page-text{
  padding-top: 2rem;
}
}

@media (min-width: 1950px) and (max-width: 2240px){
.page-image-1, .page-image-2, .page-image-3, 
.page-image-4, .page-image-5, .page-image-6,
.page-image-7, .page-image-8, .page-image-9, 
.page-image-10, .page-image-11, .page-image-12,
.page-image-13, .page-image-14, .page-image-15, 
.page-image-16, .page-image-17, .page-image-18,
.page-image-19, .page-image-20, .page-image-21, 
.page-image-22, .page-image-23, .page-image-24,
.page-image-25, .page-image-26, .page-image-27, 
.page-image-28, .page-image-29, .page-image-30,
.page-image-31, .page-image-32, .page-image-33, 
.page-image-34, .page-image-35, .page-image-36{
  width: 75%;
}

.page-image-big-desktop-1, .page-image-big-desktop-2, 
.page-image-big-desktop-11, .page-image-big-desktop-13, 
.page-image-big-desktop-27{
  width: 83%;
  height: auto;
  margin: auto;
}

.page-image-small-desktop-3, .page-image-small-desktop-5, 
.page-image-small-desktop-6, .page-image-small-desktop-10, 
.page-image-small-desktop-15, .page-image-small-desktop-16, 
.page-image-small-desktop-20, .page-image-small-desktop-25, 
.page-image-small-desktop-28, .page-image-small-desktop-30, 
.page-image-small-desktop-31, .page-image-small-desktop-33, 
.page-image-small-desktop-34, .page-image-small-mobile-35,
.page-image-small-desktop-36{
  width: 70%;
  height: auto;
  margin: auto;
}

.page-image-2, .page-image-3, .page-image-5,
.page-image-8, .page-image-9, .page-image-11,
.page-image-13, .page-image-16, .page-image-17,
.page-image-19, .page-image-22, .page-image-23,
.page-image-26, .page-image-28, .page-image-30,
.page-image-31, .page-image-33, .page-image-36, 
.page-image-big-desktop-2, .page-image-small-desktop-3,
.page-image-small-desktop-5, .page-image-big-desktop-11,
.page-image-big-desktop-13, .page-image-small-desktop-16,
.page-image-small-desktop-28, .page-image-small-desktop-30,
.page-image-small-desktop-31, .page-image-small-dektop-33,
.page-image-small-desktop-36{
  margin-top: 3.5rem;
}

.page-text{
  padding-top: 2rem;
}
}

@media (min-width: 1200px) and (max-width: 1400px){
.page-1, .page-3, .page-5, .page-7, .page-9, .page-11,
.page-13, .page-15, .page-17, .page-19, .page-21, .page-23,
.page-25, .page-27, .page-29, .page-31, .page-33, .page-35{
  margin-right: 0.75rem;
}

.credit{
  padding-left: 4rem;
  padding-right: 4rem;
}

.page-list li{
    margin-bottom: 0rem;
}

.page-list{
  margin-bottom: 2.5rem;
  font-size: 1.25rem;
}

a{
 font-size: 1.25rem;
}

.page-1, .page-3, .page-5, .page-7, .page-9, .page-11,
.page-13, .page-15, .page-17, .page-19, .page-21, .page-23,
.page-25, .page-27, .page-29, .page-31, .page-33, .page-35{
  margin-bottom: 0rem;
}

.page-2, .page-4, .page-6, .page-8, .page-10, .page-12,
.page-14, .page-16, .page-18, .page-20, .page-22, .page-24,
.page-26, .page-28, .page-30, .page-32, .page-34, .page-36{
  margin-bottom: 0rem;
}

 .page-chapter, .page-text{
  font-size: 1.25rem;
}

.page-heading{
  font-size: 1.45rem;
}

.page-text{
  padding-left: 4rem;
  padding-right: 4rem;
}

.page-chapter{
  padding-left: 4rem;
  padding-right: 4rem;
}

.drop-cap-container{
  margin-left: 3rem;
}

.drop-cap{
  font-size: 4rem;
  margin-left: 1rem;
}

.drop-cap-text{
  font-size: 2rem;
}
}

@media (min-width: 1050px) and (max-width: 1200px){
.page-1, .page-3, .page-5, .page-7, .page-9, .page-11,
.page-13, .page-15, .page-17, .page-19, .page-21, .page-23,
.page-25, .page-27, .page-29, .page-31, .page-33, .page-35{
  margin-right: 0.75rem;
}

 .page-chapter, .page-text{
  font-size: 1.25rem;
}

.page-heading{
  font-size: 1.45rem;
}

.page-text{
  padding-left: 4rem;
  padding-right: 4rem;
}

.page-chapter{
  padding-left: 4rem;
  padding-right: 4rem;
}

.drop-cap-container{
  margin-left: 3rem;
}

.drop-cap{
  font-size: 4rem;
  margin-left: 1rem;
}

.drop-cap-text{
  font-size: 2rem;
}
}

@media (min-width: 1024px) and (max-width: 1050px){
.page-1, .page-3, .page-5, .page-7, .page-9, .page-11,
.page-13, .page-15, .page-17, .page-19, .page-21, .page-23,
.page-25, .page-27, .page-29, .page-31, .page-33, .page-35{
  margin-right: 0.75rem;
}

 .page-chapter, .page-text{
  font-size: 1.25rem;
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

  .drop-cap-container{
  margin-left: 4rem;
}

a{
 font-size: 1.25rem;
}
}

@media (max-width: 1023px){
  .cover-image, .back-cover-image{
    display: none;
  }

  .cover-image2, .back-cover-image2{
    display: block;
  }
}

@media (min-width: 970px) and (max-width: 1023px){
.page-1, .page-3, .page-5, .page-7, .page-9, .page-11,
.page-13, .page-15, .page-17, .page-19, .page-21, .page-23,
.page-25, .page-27, .page-29, .page-31, .page-33, .page-35{
  text-align: right;
  margin-right: 1.75rem;
  padding-top: 4rem;
}

.page-chapter, .page-text{
  padding-left: 9rem;
  padding-right: 9rem;
  font-size: 1.5rem;
}

.page-heading{
  font-size: 1.45rem;
}

.page-odd, .page-even{
  padding-top: 2rem;
}

.drop-cap-container{
  margin-left: 9rem;
}
}

@media (min-width: 900px) and (max-width: 970px){
.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, 
.page-7, .page-8, .page-9, .page-10, .page-11, .page-12, 
.page-13, .page-14, .page-15, .page-16, .page-17, .page-18, 
.page-19, .page-20, .page-21, .page-22, .page-23, .page-24, 
.page-25, .page-26, .page-27, .page-28, .page-29, .page-30, 
.page-31, .page-32, .page-33, .page-34, .page-35, .page-36{
  text-align: right;
  margin-right: 1.5rem;
  padding-top: 4rem;
}

 .page-chapter, .page-text{
  font-size: 1.25rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

.page-heading{
  font-size: 1.45rem;
}

a{
 font-size: 1rem;
}

.drop-cap-container{
  margin-left: 7rem;
}

.drop-cap{
  font-size: 4rem;
  margin-left: 1rem;
}

.drop-cap-text{
  font-size: 2rem;
}
}

@media (min-width: 629px) and (max-width: 900px){
.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, 
.page-7, .page-8, .page-9, .page-10, .page-11, .page-12, 
.page-13, .page-14, .page-15, .page-16, .page-17, .page-18, 
.page-19, .page-20, .page-21, .page-22, .page-23, .page-24, 
.page-25, .page-26, .page-27, .page-28, .page-29, .page-30, 
.page-31, .page-32, .page-33, .page-34, .page-35, .page-36{
  text-align: right;
  margin-right: 2rem;
  padding-top: 4rem;
}

.page-heading, .page-list{
  font-size: 1.25rem;
}

.drop-cap{
  font-size: 4rem;
}

.drop-cap-text{
  font-size: 1.5rem;
}
}

@media (min-width: 800px) and (max-width: 900px){
  .page-text{
  padding-left: 5rem;
  padding-right: 5rem;
}

.author-image{
  width: 52%;
}

.page-chapter{
  padding-left: 5rem;
  padding-right: 5rem;
}

.drop-cap-container{
  margin-left: 5rem;
}
}

@media (min-width: 700px) and (max-width: 800px){
.page-text{
  padding-left: 5rem;
  padding-right: 5rem;
}

.author-image{
  width: 50%;
}

.page-chapter{
  padding-left: 5rem;
  padding-right: 5rem;
}

.drop-cap-container{
  margin-left: 5rem;
}
}

@media (min-width: 629px) and (max-width: 700px){
.page-text{
  padding-left: 5rem;
  padding-right: 5rem;
}

.author-image{
  width: 48%;
}

.page-chapter{
  padding-left: 5rem;
  padding-right: 5rem;
}

.drop-cap-container{
  margin-left: 5rem;
}
}

@media (min-width: 600px) and (max-width: 629px){
.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, 
.page-7, .page-8, .page-9, .page-10, .page-11, .page-12, 
.page-13, .page-14, .page-15, .page-16, .page-17, .page-18, 
.page-19, .page-20, .page-21, .page-22, .page-23, .page-24, 
.page-25, .page-26, .page-27, .page-28, .page-29, .page-30, 
.page-31, .page-32, .page-33, .page-34, .page-35, .page-36{
  text-align: right;
  margin-right: 1.25rem;
  padding-top: 2rem;
}

.author-image{
  width: 48%;
}

.page-heading, .page-list{
  font-size: 1.45rem;
}

.page-text{
  padding-left: 5rem;
  padding-right: 5rem;
}

.page-chapter{
  padding-left: 5rem;
  padding-right: 5rem;
}

.drop-cap-container{
  margin-left: 5rem;
}

.drop-cap{
  font-size: 4rem;
}

.drop-cap-text{
  font-size: 1.5rem;
}
}

@media (max-width: 600px){
.page-image-1-1, .page-image-2-2, .page-image-3-3, 
.page-image-4-4, .page-image-5-5, .page-image-6-6,
.page-image-7-7, .page-image-8-8, .page-image-9-9, 
.page-image-10-10, .page-image-11-11, .page-image-12-12,
.page-image-13-13, .page-image-14-14, .page-image-15-15, 
.page-image-16-16, .page-image-17-17, .page-image-18-18,
.page-image-19-19, .page-image-20-20, .page-image-21-21, 
.page-image-22-22, .page-image-23-23, .page-image-24-24,
.page-image-25-25, .page-image-26-26, .page-image-27-27, 
.page-image-28-28, .page-image-29-29, .page-image-30-30,
.page-image-31-31, .page-image-32-32, .page-image-33-33, 
.page-image-34-34, .page-image-35-35, .page-image-36-36, 
.page-image-big-mobile-1, .page-image-big-mobile-2,
.page-image-big-mobile-4, .page-image-big-mobile-11, 
.page-image-big-mobile-13, .page-image-small-mobile-3, 
.page-image-small-mobile-5, .page-image-small-mobile-6, 
.page-image-small-mobile-8, .page-image-small-mobile-10, 
.page-image-small-mobile-12, .page-image-small-mobile-15, 
.page-image-small-mobile-16, .page-image-small-mobile-17, 
.page-image-small-mobile-18, .page-image-small-mobile-20, 
.page-image-small-mobile-21, .page-image-small-mobile-26, 
.page-image-small-mobile-28, .page-image-small-mobile-30, 
.page-image-small-mobile-31, .page-image-small-mobile-33, 
.page-image-small-mobile-34, .page-image-small-mobile-35, 
.page-image-small-mobile-36{
  display: block;
}

.page-image-1, .page-image-2, .page-image-3,  .page-image-4, 
.page-image-5, .page-image-6, .page-image-7, .page-image-8,
.page-image-9, .page-image-10,  .page-image-11, .page-image-12, 
.page-image-13, .page-image-14, .page-image-15, .page-image-16,  
.page-image-17, .page-image-18, .page-image-19, .page-image-20, 
.page-image-21, .page-image-22, .page-image-23, .page-image-24, 
.page-image-25, .page-image-26, .page-image-27, .page-image-28, 
.page-image-29, .page-image-30, .page-image-31, .page-image-32, 
.page-image-33, .page-image-34, .page-image-35, .page-image-36, 
.page-image-big-desktop-1, .page-image-big-desktop-2, 
.page-image-big-desktop-11, .page-image-big-desktop-13, 
.page-image-big-desktop-27, .page-image-small-desktop-3,
.page-image-small-desktop-5, .page-image-small-desktop-6,
.page-image-small-desktop-10, .page-image-small-desktop-15,
.page-image-small-desktop-16, .page-image-small-desktop-20,
.page-image-small-desktop-25, .page-image-small-desktop-28,
.page-image-small-desktop-28, .page-image-small-desktop-30, 
.page-image-small-desktop-31, .page-image-small-desktop-33,
.page-image-small-desktop-34, .page-image-small-desktop-36{
  display: none
}
}

@media (min-width: 500px) and (max-width: 600px){
.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, 
.page-7, .page-8, .page-9, .page-10, .page-11, .page-12, 
.page-13, .page-14, .page-15, .page-16, .page-17, .page-18, 
.page-19, .page-20, .page-21, .page-22, .page-23, .page-24, 
.page-25, .page-26, .page-27, .page-28, .page-29, .page-30, 
.page-31, .page-32, .page-33, .page-34, .page-35, .page-36{
  text-align: right;
  margin-right: 1.25rem;
  padding-top: 2rem;
}

.page-heading, .page-list{
  font-size: 1.45rem;
}

.page-text{
  padding-left: 5rem;
  padding-right: 5rem;
}

.page-chapter{
  padding-left: 5rem;
  padding-right: 5rem;
}

.drop-cap-container{
  margin-left: 5rem;
}

.drop-cap{
  font-size: 4rem;
}

.drop-cap-text{
  font-size: 1.5rem;
}

a{
 font-size: 1.75rem;
}
}

@media (min-width: 450px) and (max-width: 550px){
.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, 
.page-7, .page-8, .page-9, .page-10, .page-11, .page-12, 
.page-13, .page-14, .page-15, .page-16, .page-17, .page-18, 
.page-19, .page-20, .page-21, .page-22, .page-23, .page-24, 
.page-25, .page-26, .page-27, .page-28, .page-29, .page-30, 
.page-31, .page-32, .page-33, .page-34, .page-35, .page-36{
  text-align: right;
  margin-right: 2.5rem;
  padding-top: 3rem;
}

.author-image{
  width: 48%;
}

.page-heading, .page-list{
  font-size: 1.45rem;
}

.page-text{
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.page-chapter{
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.drop-cap-container{
  margin-left: 4rem;
}

.drop-cap{
  font-size: 4rem;
}

.drop-cap-text{
  font-size: 1.5rem;
}

a{
 font-size: 1.5rem;
}
}

@media (min-width: 400px) and (max-width: 450px){
.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, 
.page-7, .page-8, .page-9, .page-10, .page-11, .page-12, 
.page-13, .page-14, .page-15, .page-16, .page-17, .page-18, 
.page-19, .page-20, .page-21, .page-22, .page-23, .page-24, 
.page-25, .page-26, .page-27, .page-28, .page-29, .page-30, 
.page-31, .page-32, .page-33, .page-34, .page-35, .page-36{
  text-align: right;
  margin-right: 2.75rem;
  padding-top: 2rem;
}

.author-image{
  width: 48%;
}

.page-heading, .page-list{
  font-size: 1.45rem;
}

.page-text{
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.page-chapter{
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.drop-cap-container{
  margin-left: 4rem;
}

.drop-cap{
  font-size: 4rem;
}

.drop-cap-text{
  font-size: 1.5rem;
}

a{
 font-size: 1.25rem;
}
}

@media (min-width: 300px) and (max-width: 400px){
.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, 
.page-7, .page-8, .page-9, .page-10, .page-11, .page-12, 
.page-13, .page-14, .page-15, .page-16, .page-17, .page-18, 
.page-19, .page-20, .page-21, .page-22, .page-23, .page-24, 
.page-25, .page-26, .page-27, .page-28, .page-29, .page-30, 
.page-31, .page-32, .page-33, .page-34, .page-35, .page-36{
  text-align: right;
  margin-right: 2.5rem;
  padding-top: 2rem;
}

.author-image{
  width: 48%;
}

.page-heading, .page-list{
  font-size: 1.45rem;
}

.page-text{
  padding-left: 4rem;
  padding-right: 4rem;
}

.page-chapter{
  padding-left: 4rem;
  padding-right: 4rem;
}

.drop-cap-container{
  margin-left: 4rem;
}

.drop-cap{
  font-size: 4rem;
}

.drop-cap-text{
  font-size: 1.5rem;
}

a{
 font-size: 1rem;
}
}

@media (max-width: 300px){
.page-1, .page-2, .page-3, .page-4, .page-5, .page-6, 
.page-7, .page-8, .page-9, .page-10, .page-11, .page-12, 
.page-13, .page-14, .page-15, .page-16, .page-17, .page-18, 
.page-19, .page-20, .page-21, .page-22, .page-23, .page-24, 
.page-25, .page-26, .page-27, .page-28, .page-29, .page-30, 
.page-31, .page-32, .page-33, .page-34, .page-35, .page-36{
  text-align: right;
  margin-right: 1.75rem;
  padding-top: 2rem;
}

.author-image{
  width: 48%;
}

  .title{
    font-size: 2.5rem;
  }

.page-heading, .page-list{
  font-size: 1.45rem;
}

.page-text{
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.page-chapter{
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.drop-cap-container{
  margin-left: 3rem;
}

.drop-cap{
  font-size: 4rem;
}

.drop-cap-text{
  font-size: 1.5rem;
}

a{
 font-size: 0.95rem;
}
}