html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Rolly", "Primer", "PrimerBold", "Puffberry-Demo", "GlorytyaDemo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  cursor: grab;
}

a{
  color: #045f76;
}

@font-face{
  font-family: "Rolly";
  src: url("./Fonts/Rolly\ Polly.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Primer";
  src: url("./Fonts/Primer\ Print.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "PrimerBold";
  src: url("./Fonts/Primer\ Print\ Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Puffberry-Demo";
  src: url("./Fonts/Puffberry-Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "GlorytyaDemo";
  src: url("./Fonts/Gloryta\ Demo.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Notepen", "Rolly", monospace;
}