html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont,  "Notepen", "Rolly", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  cursor: grab;
}

@font-face{
  font-family: "Notepen";
  src: url("./Fonts/Notepen.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "Rolly";
  src: url("./Fonts/Rolly\ Polly.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p{
  cursor: default;
}

code{
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Notepen", "Rolly", monospace;
}